<div>
  <h1 style="padding-left: 20px; text-decoration: underline">Assignment 1</h1>
</div>
<div>
  <h2 style="padding-left: 20px">Employee Management</h2>
</div>
<div>
  <table>
    <tr>
      <th class="bold-text">First Name</th>
      <th class="bold-text">Last Name</th>
      <th class="bold-text">Date of Birth</th>
      <th class="bold-text">Age</th>
      <th class="bold-text">Joining Date</th>
      <th class="bold-text">Country</th>
    </tr>
    <tr>
      <td>Abin</td>
      <td>Binu</td>
      <td>23rd March 2002</td>
      <td>21</td>
      <td>3rd July 2023</td>
      <td>India</td>
    </tr>
    <tr>
      <td>Alex</td>
      <td>Babu</td>
      <td>24rd March 2001</td>
      <td>22</td>
      <td>3rd July 2023</td>
      <td>France</td>
    </tr>
    <tr>
      <td>James</td>
      <td>Bond</td>
      <td>2nd June 2002</td>
      <td>21</td>
      <td>3rd July 2023</td>
      <td>USA</td>
    </tr>
    <tr>
      <td>Raju</td>
      <td>Raveendran</td>
      <td>3rd December 2002</td>
      <td>21</td>
      <td>3rd July 2023</td>
      <td>India</td>
    </tr>
    <tr>
      <td>Akash</td>
      <td>D Xavier</td>
      <td>1st November 2002</td>
      <td>21</td>
      <td>3rd July 2023</td>
      <td>Italy</td>
    </tr>
  </table>
</div>
