<div>
  <div>
    <app-search (searchEvent)="handleSearch($event)"></app-search>
  </div>
  <div *ngFor="let emp of (filteredNameList.length ? filteredNameList : employeeList)"></div>
</div>
<div style="padding-left: 35%;
padding-top: 1%">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of filteredNameList" (click)="GetDataFunction(emp)">
          <td>{{ emp.id }}</td>
          <td>{{ emp.firstName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  