@model Person //m while defining the model relation and M while getting attributes and stuff.
@{
    ViewData["Title"] = "Info";
}
<h1>
    Info pane from models
</h1>
<p>Name: @Model.Name</p>
<p>Name: @Model.Age</p>
<p>Name: @Model.Location</p>
