@model Employee;
@{
    ViewData["Title"] = "Create Entry";
}
<h1> Create </h1>
<p>Add the employee details</p>
<div>
    <form method="post">
        @*Here there would be the Name,Gender,EmployeeType,salary and department forum*@

        @*We dont need the Id part as we will be auto generating it.*@
        <p>
            @*The labeland input box for the name part*@
            <label asp-for="Name">Your Name :</label>
            <input asp-for="Name"/>
        </p>

        <p>
            @*The labeland input box for the Gender part*@
            <label asp-for="Gender">Your Gender :</label>
            <input type="radio" asp-for="Gender" value="M" />Male
            <input type="radio" asp-for="Gender" value="F" />Female
        </p>

        <p>
            @*The labeland input box for the EmployeeType part*@
            <label>State your Employee Status </label>
            <input type="radio" asp-for="EmployeeType" value="P" />Permanent Employee
            <input type="radio" asp-for="EmployeeType" value="T" />Temporary Employee
        </p>

        <p>
            @*The labeland input box for the Salary part*@
            <label asp-for="Salary">Your Name :</label>
            <input asp-for="Salary" />
        </p>

        <p>
            @*The labeland input box for the Department part*@
            <label asp-for="Department">Your Department:</label>
            <select asp-for="Department">
                <option value="Development">Development</option>
                <option value="HR">HR</option>
                <option value="Testing">Testing</option>
                <option value="Research">Research</option>
            </select>
        </p>

        <p>
            @*We need the submit button for the model binding feature*@
            <button type="submit">Submit</button>
        </p>

    </form>
</div>

