<div>
    <form #frm="ngForm">
        <input type="text" required maxlength="10" [(ngModel)]="searchText" name="searchText"/>
        <button (click)="onSearch()">Search</button>
        <button (click)="reset()">Reset</button>
    </form>
 
</div>

<button (click)="addEmployee()">Add Employee</button>

<div style="padding-left: 45%;
padding-top: 6%">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeeList" (click)="GetDataFunction(emp)">
          <td>{{ emp.id }}</td>
          <td>{{ emp.firstName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  