<!-- <button (click)="buttonClick()">Back</button> -->
<div class="card">
    <div class="card__content">
      <p style="color: aliceblue;padding-left: 20px;padding-top: 10px;text-decoration: underline;">The Details Of_{{ employeeDetail?.firstName }}</p>
        <p style="color: aliceblue;padding-left: 20px">ID: {{ employeeDetail?.id }}</p>
        <p style="color: aliceblue;padding-left: 20px">First Name: {{ employeeDetail?.firstName }}</p>
        <p style="color: aliceblue;padding-left: 20px">Last Name: {{ employeeDetail?.lastName }}</p>
        <p style="color: aliceblue;padding-left: 20px">Age: {{ employeeDetail?.age }}</p>
        <p style="color: aliceblue;padding-left: 20px">Department: {{ employeeDetail?.department }}</p>
        <p style="color: aliceblue;padding-left: 20px">Position: {{ employeeDetail?.position }}</p>
    </div>
  </div>
  
  