<!-- <button (click)="buttonClick()">Back</button> -->
<div class="card" style="padding-left: 35%; padding-top: 6%">
  <div class="card__content">
    <p
      style="
        color: aliceblue;
        padding-left: 20px;
        padding-top: 10px;
        text-decoration: underline;
      "
    >
      The Details Of_{{ employeeDetail?.firstName }}
    </p>
    <p style="color: aliceblue; padding-left: 20px">
      ID: {{ employeeDetail?.id }}
    </p>
    <p style="color: aliceblue; padding-left: 20px">
      First Name: {{ employeeDetail?.firstName }}
    </p>
    <p style="color: aliceblue; padding-left: 20px">
      Last Name: {{ employeeDetail?.lastName }}
    </p>
    <p style="color: aliceblue; padding-left: 20px">
      Email: {{ employeeDetail?.email }}
    </p>
    <p style="color: aliceblue; padding-left: 20px">
      PhoneNumber: {{ employeeDetail?.phoneNumber }}
    </p>
    <p style="color: aliceblue; padding-left: 20px">
      DepartmentId: {{ employeeDetail?.departmentId }}
    </p>
  </div>
</div>
