<div *ngIf="!selectedEmployeeDetail">
    <p>Select the row of the employee you want to know more about</p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeeList" (click)="GetDataFunction(emp)">
          <td>{{ emp.id }}</td>
          <td>{{ emp.firstName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-child2 [employeeDetail]="selectedEmployeeDetail" (goBackEvent)="handleGoBack()"></app-child2>